.App {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  margin: 27px auto 0;

  position: relative;
  width: 450px;
  height: 50px;
  background-color: #002549;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 150px;
}
a:nth-child(2) {
  width: 150px;
}
a:nth-child(3) {
  width: 150px;
}
nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 150px;
  left: 0;
  background-color: #0066ff;
}
nav .start-procedure,
a:nth-child(2):hover ~ .animation {
  width: 150px;
  left: 150px;
  background-color: #0066ff;
}
nav .start-contact,
a:nth-child(3):hover ~ .animation {
  width: 150px;
  left: 300px;
  background-color: #0066ff;
}

/* List */
ul {
  counter-reset: index;
  padding: 0;
  max-width: 300px;
}

/* List element */
li {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}

/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, #0066ff, #bed8ff);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Element separation */
li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@use postcss-preset-env {
  stage: 0;
  autoprefixer: {
    grid: true;
  }
  browsers: last 2 versions;
}

.centre {
  margin: 0 auto;
  width: 100%;
}
.centre ul {
  margin: 0 auto;
}
.centre ul li {
  margin: 0 auto;
  display: block;
}
